
.light_container {
    -fx-background-color: #e0e40f;
}

Button {
    -fx-cursor: hand;
    -fx-background-color: #fa48023f;
    -fx-border-color: #1a9602;
}


Button:hover {
    -fx-background-color: #0010f796;
    -fx-text-fill: rgba(47, 247, 7, 0.705);
    -fx-cursor: HAND;
}

.TextField {
    -fx-cursor: HAND;
    -fx-background-color: #18fc03bb;
}

.Textarea {
    -fx-control-inner-background: #3ca533;
    -fx-cursor: hand;
    -fx-text-fill: rgb(247, 7, 7);
    -fx-background-color: #21e40fb9;
    -fx-prompt-text-fill:rgba(247, 95, 7, 0.795) ;
}

Label {
    -fx-background-color: #18fc03;
}