.photo_container {
-fx-background-color: #6078c7;
-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0), 12, 0.3, 0, 4);
    -fx-background-radius: 10;
}
/* Стиль трека (полосы, по которой движется ползунок) */
.scroll-bar:vertical .track,
.scroll-bar:horizontal .track {
    -fx-background-color: #4fcfe0; /* Цвет трека */
    -fx-border-color: transparent;
    -fx-background-radius: 0;
}

/* Стиль ползунка (thumb) */
.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
    -fx-background-color: #26d316; /* Цвет ползунка */
    -fx-background-radius: 5px; /* Закругление углов */
    -fx-border-radius: 5px;
}

/* Стиль при наведении на ползунок */
.scroll-bar .thumb:hover {
    -fx-background-color: #1021be; /* Цвет при наведении */
}

/* Стиль при нажатии на ползунок */
.scroll-bar .thumb:pressed {
    -fx-background-color: #310d69; /* Цвет при нажатии */
}

/* Кнопки увеличения/уменьшения (стрелки) */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

/* Стрелки внутри кнопок */
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}