
.user_container {
    -fx-background-color: #52ba25;
}

Button{
-fx-background-color:#e0e40f;
-fx-text-fill: #143ab8;
-fx-cursor: hand;
}

Button :hover {
-fx-background-color:#0c90dd;
-fx-text-fill: #e70edc;
-fx-cursor: hand;
}



textarea {
    -fx-alignment: top-left;
    -fx-text-fill:#bf07f7 ;
    
    
}